<toaster-container [toasterconfig]="toasterConfig"></toaster-container>
<div class="col-md-6 col-md-offset-3">
  <h2>Login</h2>
  <form [formGroup]="form" name="form">
    <div class="form-group">
      <label >Username</label>
      <input
        formControlName="username"
        id="username"
        placeholder="username..."
        type="text"
        class="form-control">
    </div>
    <div class="form-group">
      <label >Password</label>
      <input
        formControlName="password"
        id="password"
        placeholder="password..."
        type="password"
        class="form-control">
    </div>
    <div class="form-group">
      <button (click)="login()" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>
