<toaster-container [toasterconfig]="toasterConfig"></toaster-container>

<h4>  Requests  </h4>

<div *ngIf="!passengers || passengers.length === 0">

  <h1> There are no requests at the moment. </h1>

</div>

<div *ngIf="passengers.length > 0 ">
<table class="table">
  <thead>
  <tr>
    <th scope="col">First name</th>
    <th scope="col">Last name</th>
    <th scope="col">username</th>
    <th scope="col">Address</th>
    <th scope="col">Email</th>
    <th scope="col">Passenger type</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let i of passengers">
    <td>{{i.firstName}}</td>
    <td>{{i.lastName}}</td>
    <td>{{i.username}}</td>
    <td>{{i.address}}</td>
    <td>{{i.email}}</td>
    <td>{{i.passengerType}}</td>
    <td> <button (click)="Accept(i)"  class="btn btn-success" >Accept</button> </td>
    <td> <button (click)="Deny(i)"  class="btn btn-success" >Deny</button> </td>
  </tr>





  </tbody>
</table>
</div>
