<button type="button" class="btn btn-primary-outline pull-right" (click)="newEmployee();"><i class="fa fa-plus"></i> Add new employee</button>

<button type="button" class="btn btn-primary-outline pull-right" (click)="processRequests();"><i class="fa fa-plus"></i>Process requests</button>
