<nav class="navbar  navbar-dark bg-primary fixed-top" style="height: 9%; margin-bottom: 80px !important;">
  <div class="col-lg-5"></div>

  <div *ngIf="!jwtService.tokenExist()" class="col-sm-1"><a class="navbar-brand" routerLink="login">Log in</a></div>

  <div *ngIf="jwtService.tokenExist()" class="col-sm-1"><a class="navbar-brand color" style="color: white; cursor: pointer"
                                                           (click)="logout()" >Log out</a></div>
</nav>
<br/>
<br/>
